/node_modules
/public/hot
/public/storage
/storage/*.key

.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/database/database.sqlite3
.phpstorm.meta.php
php_errors.log
_ide_helper.php